<app-form [tarefa]="task?.id"></app-form>
<div class="description-task">
  <div>
    <h1>{{task?.nome}}</h1>
    <p *ngIf="task?.description" [innerHTML]="task?.description?.description"></p>
  </div>
  <div>
    <a href="#" class="add-edit" *ngIf="!task?.description" (click)="adicionarDescricao($event)">Adicionar Descrição</a>
    <a href="#" class="add-edit" *ngIf="task?.description" (click)="alterarDescricao($event)">Alterar Descrição</a>
    <a href="/" class="voltar">Voltar</a>
  </div>
</div>
<ng-container *ngIf="task && task.filhos && task.filhos.length > 0">
  <app-task-list [filhos]="task.filhos" [tarefa]="task.id"></app-task-list>
</ng-container>
