<div class="task-list">
	<div>
		<div>
			<div class="created">
				<p>Tarefas criadas</p>
				<span>{{tasksCount}}</span>
			</div>
			<div class="concluded">
				<p>Concluídas</p>
				<span *ngIf="tasksCountConcluded > 0">{{tasksCountConcluded}} de {{tasksCount}}</span>
				<span *ngIf="tasksCountConcluded == 0">0</span>
			</div>
		</div>
		<hr>
		<div>
			<app-empty-state *ngIf="!tasks"></app-empty-state>
      <ng-container *ngIf="!filhos">
        <app-task *ngFor="let task of tasks" [task]="task"></app-task>
      </ng-container>
      <ng-container *ngIf="filhos">
        <app-task *ngFor="let task of tasks" [task]="task" [filho]="true" [pai]="tarefa"></app-task>
      </ng-container>
		</div>
	</div>
</div>
